[submodule "third_party/sml"]
	path = third_party/sml
	url = https://github.com/boost-ext/sml.git
	branch = v1.1.4
[submodule "third_party/rapidcsv"]
	path = third_party/rapidcsv
	url = git@github.com:d99kris/rapidcsv.git
